/* Fonts  */
@font-face {
    font-family: "sans-serif";
    src: url(Fonts/Acme-Regular.ttf) format ("ttf");
}

@font-face {
    font-family: "roboto";
    src: url(Fonts/Roboto-Regular.ttf) format ("ttf");
}

/* Root */
:root {
    --blue: #0050d5;
    --black: #444;
    --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2);
    --white-light: #e9f7f7;
    --orange: #f9ac54;
    --light-color: #777;
    --white: #ffffff;
    --max-widht: 1200px;
    --border: .2rem solid var(var(--blue));
}

/* Setting all elements*/
* {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

/* Tampilan Scrollbar */
html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5rem;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #f5f5f5;
}


/* Setting all .btn elements*/
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    font-size: 2rem;
    outline: none;
    border: var(--border);
    color: var(--white);
    background-color: var(--orange);
    border-radius: 5px;
    cursor: pointer;
}

/* Change the spacing of letter of links on hover */
.btn:hover {
    letter-spacing: 0.2rem;
}

/* Header*/
.header {
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

/* Logo*/
.header .logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--blue);
}

.logo span {
    color: var(--orange);
}

.header .navbar a {
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}




/* Toggle Switch */
/* Dark */
body.dark {
    background-color: black;
}

.toggle {
    position: relative;
    height: 2rem;
    width: 5rem;
    border-radius: 100px;
    background-color: var(--blue);
    box-shadow: 0 0.5rem 0.8rem red;
    cursor: pointer;
}

.toggle::before {
    content: "";
    position: absolute;
    height: 3rem;
    width: 3rem;
    background: var(--white);
    border-radius: 50%;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;

}

.toggle.active::before {
    background-color: #18191a;
    left: calc(100% - 1rem - 3rem);
}

.header .navbar a:hover {
    color: var(--blue)
}

#menu-btn {
    font-size: 2.5rem;
    border-radius: .5rem;
    background: var(--orange);
    color: var(--black);
    padding: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    display: none;
}

/* Main: Home, Slider */
/* Home */
.home{
    padding: 2rem 7%;
    width: 100%;
    background: var(--white);
}

.main-home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 6%;
}

.main-inner-home{
    flex: 1 1 45rem;
}

.main-inner-home h2{
    font-size: 4rem;
    font-weight: 500;
    padding: 0.5rem 0;
}

.main-inner-home h1{
    font-size: 4rem;
    padding-bottom: 2rem;
    font-weight: 700;
}

.main-inner-home p{
    font-size: 1.5rem;
    line-height: 3rem;

}

.main-inner-home .right-content-img img{
    width: 100%;
    padding: 4rem;
}

.main-inner-home .right-content-img img:hover {
    background: var(--orange);
    box-shadow: var(--box-shadow);
}

.home-back{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

/* Image - Slider */
.image-slider {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    max-width: 80rem;
    width: 100%;
    height: 50rem;
    border: 0.5rem solid #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.image-box {
    display: flex;
    height: 100%;
    width: 400%;
    justify-content: space-between;

}

.image-box {
    animation: imgBox 20s linear infinite;
}

.image img {
    width: 100%;
    height: 100%;
}

@keyframes imgBox {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -300%;
    }
}

.image-box:hover {
    animation-play-state: paused;
}

.image-box .image {
    width: calc(100% - 100px);
    height: 100%;
}

.image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Icon section */
.icons-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
}

.icons-container .icons i {
    font-size: 4.5rem;
    color: var(--blue);
    padding-bottom: .7rem;
}

.icons-container .icons h2 {
    font-size: 4.5rem;
    color: var(--black);
    padding-bottom: .5rem 0;
    text-shadow: var(--text-shadow);
}

.icons-container .icons p {
    font-size: 1.7rem;
    color: var(--light-color);
}

/*About Us*/
.about .row {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .about_image {
    flex: 1 1 45rem;
}

.about .row .about_image img {
    width: 100%;
}

.about .row .about_image:hover {
    background: var(--orange);
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    color: var(--black);
    text-shadow: var(--text-shadow);
    font-size: 2rem;
    line-height: 1.7rem;
}

.about .row .content p {
    color: var(--light-color);
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.6rem;
}

/* Services */
.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 10px));
    gap: 2rem;
}

.services .box-container .box {
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span {
    text-transform: uppercase;
    color: var(--blue);
}

.services .box-container .box i {
    color: var(--blue);
    font-size: 5rem;
    padding-bottom: .5rem;
}


.services .box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem 0;
}

.services .box-container .box p {
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 2;
}

/* Gallery */
.gallery {
    position: relative;
    height: 100%;
    width: 100%;
}

.gallery .container {
    max-width: var(--max-widht);
    height: auto;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vmin;
    grid-auto-flow: dense;
}

.gallery .container .img {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;

}

.gallery .container .img:first-child {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.gallery .container .img:nth-child(2n + 3) {
    grid-row-start: span 3;
}

.gallery .container .img:nth-child(4n + 5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.gallery .container .img:nth-child(6n + 7) {
    grid-row-start: span 1;
}

.gallery .container .img:nth-child(8n + 9) {
    grid-column-start: span 3;
    grid-row-start: span 1;
}

.gallery .container .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.7) grayscale(1000);
    transition: 0.3s ease-in-out;
    -webkit-filter: brightness(0.7) grayscale(1000);
}

.gallery .container .img:hover img {
    filter: brightness(1) grayscale(0);
    -webkit-filter: brightness(1) grayscale(0);
}

/*Our Doctors*/
.doctors .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.doctors .box-container .box {
    text-align: center;
    background: #fff;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.doctors .box-container .box img {
    height: 20rem;
    border: var(--border);
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doctors .box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.doctors .box-container .box span {
    color: var(--blue);
    font-size: 1.5rem;
}

.doctors .box-container .box .share {
    padding-top: 2rem;
}

.doctors .box-container .box .share a {
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--blue);
    border-radius: .5rem;
    border: var(--border);
    margin: .3rem;
}

.doctors .box-container .box .share a:hover {
    background: var(--blue);
    color: #fff;
    box-shadow: var(--box-shadow);
}

/*Booking*/
.booking .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.booking .row .image {
    flex: 1 1 45rem;
}

.booking .row .image img {
    width: 100%;
}

.booking .row .image img {
    width: 100%;
}

.booking .row form {
    flex: 1 1 45rem;
    background: #fff;
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.booking .row form h3 {
    color: var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.booking .row form .box {
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
    text-align: center;
    padding: 2rem;
}

.booking .row form .btn {
    padding: 1rem 4rem;
}

/* Blogs : box-image-title*/
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border: var(--border);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* Make zoom in and zoom out of links on hover */
.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--black);
}

/* Change the color of links on hover */
.blogs .box-container .box .content .title:hover {
    color: var(--blue);
}

.blogs .box-container .box .content span {
    color: var(--blue);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

/* Review */
.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}

.review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--blue);
}


/*Why Us*/
.why_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.why_content h2 {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.why_content h3 {
    margin-bottom: 1.5rem;
    color: var(--black);
}

.why_image img {
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
}

/* Footer*/
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: var(--blue);
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
    color: var(--blue);
}

.footer .credit {
    padding: 1rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--light-color);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: var(--blue);
}

/* Media Queries */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    .why_container {
        display: initial;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: initial;
    }

    .main-home{
        padding-top: 16rem;
    }

    .main-inner-home .right-content-img img{
        padding: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active {
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a {
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }

    .about_container {
        display: initial;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }

    .about_image img {
        max-width: 400px;
        margin: auto;
        border-radius: 10px;
    }

    

    .gallery .container {
        display: initial;
        grid-template-columns: repeat(2, 1fr);
    }

    .why_container {
        display: initial;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }



    @media (max-width: 450px) {
        html {
            font-size: 50%;
        }
    }

    .about_container {
        display: initial;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }

    .about_image img {
        max-width: 400px;
        margin: auto;
        border-radius: 10px;
    }

    .why_container {
        display: initial;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }
}
